*,*::before,*::after{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}
:root{
    --body-background:rgb(245, 245, 220);
    --card-background:rgba(111, 111, 0, 0.337);
    --button-background: #6b2737;
---sidebar-bg:#6b273767;
--card-display-color:rgba(65, 15, 51, 0.569);
--form-font-color:rgba(3, 3, 3, 0.891);
--form-item-width: clamp(14rem,90%,30rem);
--heading-font: "Lora", serif;
--body-font:"Lato", sans-serif;
}
body,html{
    min-height: 100vh;
    background-color: var(--body-background);
}

.container{
    position: relative;
    min-height:100vh;
    padding:1.5rem;
    text-align: center;
    display: grid;
    grid-template:minmax(auto,80px) 10fr minmax(auto,80px)/3fr 1fr;
    grid-template-areas: "header header"
    "main main"
    "footer footer";
    gap:2rem;
}
.container>*{
    border-radius: 1rem;
}
.container header{
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family:var(--heading-font);
    color:var(--button-background);
    background-color: var(--body-background);
}
header h1{
    letter-spacing: 2px;
}
header img{
    height: 90%;
}
header>*:hover{
    scale:1.05;
}
main.plus{
    grid-area: main;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap:3rem;
    padding: 1rem;
    
}
main.minus{
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
}
main>*{
    border-radius: 1rem;
}

.minus .sidebar{
    display: none;
}
.plus .sidebar{
    display: block;
}
.sidebar{
 box-shadow:1px 1px 5px 3px var(--button-background) ;
   
    padding:1rem;
    max-height: 70vh;

}
form{
    padding:1rem;
    padding-top: 3rem;
position: relative;
}
form,label,form button{
        color: var(--form-font-color);
}
fieldset{
    border: none;
}
fieldset>div:not(.notimportant){
    display: flex;
    flex-direction: column;
    align-items: center;
}

input,label,button,label::before,label::after{
    font-family: var(--body-font);
}

.remove-sidebar button{
    position: absolute;

    top:-.2rem;
    right: -.2rem;
    border: 1px solid var(--body-background);

background-color: var(--body-background);
    color: var(--button-background);
    padding:.5em;
    font-size: .8em;
    width:2rem;
height: 2rem;
border-radius: .7rem;
}
.remove-sidebar button:hover{
    scale:1.1;
        box-shadow:0 0 1px 1px var(--body-background) ;
 
    background-color: rgba(128, 128, 128, 0.354);
    font-weight: bold;
}
form fieldset>div{
    margin-bottom: max(3.5rem,calc(2vw + 1.5rem));
}
label{
    text-align: left;
    font-size: 1.2rem;
    width: var(--form-item-width);

}
fieldset>div:not(.notimportant) label{
    display: block;
}
.notimportant{
    display: flex;
    gap:clamp(2rem,10%,5rem);
    justify-content:flex-start;
        width: var(--form-item-width);
        margin-left: auto;
        margin-right: auto;
}
.notimportant input{
    margin-left: .5rem;
}
.notimportant input:not(input[type="checkbox"]){
    width:clamp(3rem,70%,10rem)
  
}
.notimportant>div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.notimportant label{
    width: auto;
}

input{
    background-color: var(--body-background);
    border: none;
    height:max(1.4rem,calc(.6vw + 1.3rem));
    width: var(--form-item-width);
    padding:.5rem;
    border-radius:.2rem ;
      box-shadow:  inset 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
      display: block;
      font-size: max(1rem,calc(.2vw + .9rem));
 
}
input:focus,input:checked{
    border-radius: .4rem;
    outline: none;
}
input[type="checkbox"]
{
    display:inline-block;
appearance: none;
position: relative;
appearance: none;
width: max(1.4rem,calc(.6vw + 1.3rem));



}
input[type="checkbox"]::before{
content: "✔";
    width:100%;
    color: var(--body-background);
    height:100%;
    font-size: 1.4rem;
    display: inline-block;

    border:1px solid black;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
   
}
input[type="checkbox"]:checked::before{
visibility: visible;
border: none;
background-color: var(--card-background);
}
/* form validity css */
input:required.invalid{
    border: 2px solid var(--button-background);
  
}
label:has(+input:required:invalid.invalid){
    position: relative;
    color: var(--button-background);
}
label:has(+input:required:invalid.invalid)::after{
    content: "this field is required";
    position: absolute;
    background-color: var(--button-background);
    color:var(--body-background);
    top:0;
    font-size: .6rem;
    padding:.3em;
    border-radius: .3rem;
    right: 0;
}


button[type="submit"]{
    background-color: var(--button-background) ;
    padding:1rem;
    font-size: 1.4rem;
    border: none;
    width: 100%;
    border-radius: .8rem;
    color: var(--body-background);
}
button[type="submit"]:hover{
    scale:1.01;
    font-weight: 500;
}
article{
    padding:1rem;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(15em,1fr));
    grid-auto-rows: 1fr;
    justify-content: center;
    gap:4rem;
height: 100%;

}
.card{
    background-color: rgba(245, 245, 220, 0.408);
    border-radius: 1rem;
    position: relative;
   max-width: 500px;
   max-height: 50vh;
}

.card:not(.card.add-book):hover{
       background-color: var(--body-background);

    scale:1.01;
    box-shadow: 3px 3px 2px 2px var(--card-display-color);
}
.card:not(.card.add-book):hover .card-font{
    visibility: visible;
   opacity: 1;
   z-index: 1;
}
.card:not(.card.add-book):hover .card-image{
    opacity: 0.15;
    z-index: -1;
}


/* delete-button styling */
.card:not(.card.add-book) .delete-button{
content: "X";
width:2rem;
height: 2rem;
border-radius: .7rem;
color: var(--button-background);
font-size: 1rem;
/* background-color: var(--body-background); */
background-color: rgba(116, 116, 116, 0.246);

position: absolute;
right: -0.2rem;
top:-0.2rem;
visibility: hidden;
border: none;
}
.card:not(.card.add-book):hover .delete-button,.card:not(.card.add-book):focus .delete-button{
    visibility: visible;
    box-shadow:0 0 1px 1px var(--body-background) ;
}
 .card:not(.card.add-book):hover .delete-button:hover{
font-weight: bold;
scale:1.05;
}

/* cards styling(font sizes and managinging white spacing) */
.card:not(.card.add-book){
    padding:2rem;
    box-shadow:1px 1px 5px 3px var(--button-background) ;
overflow: hidden; 
}
.card .card-title{
    font-size: min(calc( 1.5vw + 1rem),2rem);
    margin-bottom: 13%;
      font-weight: 800;
      font-family: var(--heading-font);
}
.card .card-author{
    font-size: min(calc( 1.1vw + 1rem),1.5rem);
    margin-bottom: 10%;
      font-weight: 500;
      font-family: var(--body-font);
}
 .card-font{
    visibility: hidden;
    font-family: var(--body-font);
  font-size: min(calc( 0.1vw + .8rem),1rem);
    color: var(--button-background);
}
.card-image{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
 object-fit: cover;   
}


/* add-book card styling */
.card.add-book{
    width:100px;
    height:100px;
    position: absolute;
    top:1rem;
    right:2.5rem;
  display: flex;
  justify-content: center;
 align-items: center;
box-shadow:   0 0 5px 1px var(--button-background)
}
.card.add-book button{
    background: url("/images/plus2.png");
width: 50%;
height: 50%;

    background-size: contain;
    border: none;
    background-position: center center;
    border-radius: 1rem;
    color:var(--body-background);
    font-size: 2rem;
    background-repeat: no-repeat;
      background-color: rgba(188, 188, 168, 0.655);
}
.card.add-book button:hover{
  box-shadow: 0 0 5px 3px rgba(154, 154, 154, 0.737);
  scale:1.05
}



/* footer styling */
footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: cursive;
    font-size: .8rem;
    color:var(--button-background);
    background-color:#6b273717
}